/*External Links*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Core styles*/
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}
a{
  transition: all 0.3s ease-in-out;
}
#image {
  margin-top: 10px;
  border-radius: 20px;
  width: 600px;
  background: linear-gradient(135deg) rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
}
#image-about {
  border-radius: 30px;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.37);
}
html {
  font-family: sans-serif;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
.to__uppercase {
  text-transform: uppercase;
}
.clear__fix {
  clear: both;
}

.blur__line {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 5px;
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  filter: blur(4px);
  background-size: 200%;
}
/*Navigation Section*/
.main__header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(206, 192, 192, 0);
  background: linear-gradient(135deg) rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 3px 16px 0px rgb(0 0 0/10%);
  border-radius: 2px;
}
.main__header__brand {
  display: inline-block; 
  vertical-align: middle;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0/10%);
  background-color: #f8faff;
  border-radius: 20px;
}
.main__header__brand img {
  width: 64px;
  vertical-align: middle;
}
.main__header .container{
  display: flex;
  align-items: center;
}
.main__navigation__item {
  display: inline-block;
  padding: 10px;
}
.main__navigation__items a {
  color: #212529;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.main__navigation__items a:hover {
  color: #5f30ff;
}
/*Main Section*/
.main-banner {
  background: url("../images/main-banner.png") no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}

.main__section {
  padding: 7.5rem 1.87rem;
  display: flex;
  justify-content: space-between;
}

.main__section__image {
  text-align: none;
}
.main__section__welcome {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #212529;
}
.main__section__introduction {
  margin: 20px 0;
  font-size: 60px;
  font-weight: 600;
  color: #212529;
}
.main__section__position {
  color: #212529;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.main__section__image {
  text-align: right;
}

.main__section__action {
  margin-top: 30px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  color: #ffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out ;
}
.main__section__action:hover {
  color: #ccc;
  background-position: right center;
}

/*Statistics*/
.statistics__section {
  padding-top: 100px;
  display: flex;
}
.statistics__item {
  background-color: #f8faff;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
  width: 150px;
}
.statistics__number {
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statistics__title {
  font-size: 16px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.section__social__networks a {
  color: #5f30ff;
  font-size: 25px;
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}
.section__social__networks a:hover {
  color: #60bfc1;
}

/*About Me*/
.section__about__me {
  padding: 100px 0;
  display: flex;
  justify-content:center;
}
.section__about__me > div{
  flex: 1;
}


.section__about__me img {
  width: 90%;
}

.section__about__subtitle {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #797979;
  text-transform: uppercase;
  display: inline-block;
}
.section__about__title {
  margin-top: 5px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  color: #212529;
}
.section__about__description {
  font-size: 14px;
  font-weight: 300;
  color: #797979;
  line-height: 27px;
}
.section__about__me__button {
  margin-top: 40px;
}

/*Services*/
.services {
  padding-top: 100px;
}
.service__cards {
  display: inline-block;
  width: 300px;
  padding: 60px 30px;
  background: linear gradient(135deg) rgba(255, 255, 255, 0.1)
    rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.37);
  margin-right: 3%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.4s ease 0s;
}
.service__card__title {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.service__card__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #797979;
}
.service__card__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  text-decoration: none;
}
.service__cards:hover {
  background-color: #5f30ff;
}
.service__cards:hover .service__card__title,
.service__cards:hover .service__card__description,
.service__cards:hover .service__card__link {
  color: #ffff;
}
/*Portfolio Section*/
.portfolio__section {
  padding: 30px 0;
}
.portfolio-items {
  margin-top: 50px;
  position: relative;
}
.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}
.portfolio-item img {
  width: 100%;
  border-radius: 5px;
}

.portfolio-item__overlay{
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease 0s;
}
.portfolio-item__info {
  position: absolute;
  color: #ffff;
  bottom: 44px;
  left: 80px;
  visibility: hidden;
  z-index: 1;
  transition: all 0.4s ease 0s;
}
.portfolio-item__info a {
  color: #ffff;
  text-decoration: none;
}
.portfolio-item:hover .portfolio-item__overlay {
  opacity: 1;
  background: rgba(19, 69, 230, 0.9);
  top: 10px;
  left: 20px;
}
.portfolio-item:hover .portfolio-item__info {
  visibility: visible;
}
.portfolio-item-1 {
  padding-left: 0;
}
.portfolio-item-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.portfolio-item-3 {
  position: absolute;
  top: 322px;
  right: 0;
}
.rating-bar-items {
  padding-left: 0;
}
.rating-bar-item {
  transition: all 0.4s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  margin-right: 40px;
}

.rating-bar-item:active,
.rating-bar-item:hover {
  color: #5f30ff;
}
/*Blog Section*/
.blog-section {
  padding-top: 10px;
}
.blog-items {
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-item {
  margin-right: 3%;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0, 0.4, 0.58, 1.1) 0s;
}
.blog-item:hover .blog-item__image img{
  transform: scale(1.1);
}

.blog-item:hover {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.37);
  transition: box-shadow 0.4s cubic-bezier(0, 0.4, 0.58, 1.1) 0s;
}
.blog-item__image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.4s ease;
}
.blog-item__image{
  overflow: hidden;
}
.blog-item__image:hover {
  cursor: pointer;
}
.blog-item-info {
  background-color: #f8faff;
  padding: 10px;
  color: #797979;
}
.short-blog-info {
  font-size: 14px;
  margin-right: 30px;
}
.short-blog-info i {
  margin-right: 5px;
}
.blog-item-info__title {
  font-weight: 600;
  color: #212529;
  font-size: 20px;
  margin-bottom: 15px;
}
.blog-item__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
}
.learn-more {
  text-decoration: none;
  color: #5f30ff;
}
.learn-more:is(:hover, :active) {
  color: #797979;
}
/*Partners*/
.partners {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner {
  transition:all 0.4s cubic-bezier(0, 0.4, 0.58, 1.1) 0s;
  padding: 10px 30px;
}
.partner:hover{
  box-shadow:0px 3px 16px 0px rgba(0, 0, 0, 0.37);
}
/*Footer Section*/
.footer {
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
  background-color: #021017;
}
.footer-brand {
  position: relative;
}
.footer-brand img {
  width: 100px;
  vertical-align: middle;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0/10%);
  background-color: #f8faff;
  border-radius: 20px;
}

.footer-navigation__item {
  display: inline-block;
  padding: 0 10px;
}
.footer-navigation__item a {
  color: white;
  text-decoration: none;
}
.footer-navigation__item a:hover{
  color: #5f30ff;
}
.footer-social {
  text-align: center;
  list-style: none;
  padding-top: 20px;
}
.footer-social a {
  border-radius: 36px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #ffff;
  color: #05364d;
  font-size: 1rem;
  margin-right: 20px;
}
.footer-social a:hover {
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 198% auto;
  color: white;
}
.copyright {
  color: #828282;
}
.copyright a {
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
}
